* {
    margin: 0;
    padding: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', sans-serif;
}

.offer-section {
    width: 90vw;
    margin: auto;
    padding: 20px 0;
}



.offer-items {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding-top: 20px;
    scroll-padding-left: 15px;
    /* IE and Edge */

}




.offer-item {
    min-width: 220px;
    max-height: 50vh;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}

.offer-item-action {
    position: relative;
    width: 100%;
    height: 80%;
    border-radius: 10px;
    background-color: hsl(0, 0%, 90%);

}

.item-discound,
.item-show-btn,
.add-wishlist {
    position: absolute;
    z-index: 999;
}

.item-discound {
    left: 10px;
    top: 10px;
}

.item-show-btn {
    right: 10px;
    top: 10px;
    cursor: pointer;
}

.item-show-btn button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    
    font-size: 1.3rem ;
}

.add-wishlist {

    right: 10px;
    top: 40px;
    cursor: pointer;
}

.add-wishlist a {
    color: black;
    text-decoration: none;
    font-size: 1.5rem ;
}

.add-wishlist a:hover,
.item-show-btn button:hover {
    color: hsl(210, 100%, 56%);
}

.prg-discound {
    background-color: red;
    color: #fff;
    padding: 5px;
    border-radius: 8px;

}

.item-img {
    height: 100%;
    display: flex;
    flex-direction: column;

}

.item-img i {
    margin-right: 10px;
}

.item-img img {
    width: 100%;
    height: 90%;
    object-fit: cover;
}

.item-img button {
    width: 100%;
    border: none;
    background-color: black;
    color: #fff;
    height: 10%;
    cursor: pointer;
    visibility: hidden;

}

.item-img button:hover {
    color: hsl(210, 100%, 56%);
}

.offer-item-action:hover .item-img button {
    visibility: visible;
}

.item-price-current {
    color: red;
}

.item-price-old {
    text-decoration: line-through;
    color: hsl(0, 0%, 80%);
    margin-left: 10px;
    font-size: small;
}


