.wishlist-container {
    max-width: 90vw;
    margin: auto;
    padding: 50px 0;
}

.wishlist-section,
.suggest-section {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: auto auto;
    grid-template-areas: " title title mov mov " " item item item item ";
    width: 100%;
    gap: 3vw 0;
    margin-bottom: 50px;
}

.wishlist-items,
.suggest-items {
    grid-area: item;
    display: grid;
    /* edit in media */
    grid-template-columns: repeat(4, 23%);
    justify-content: space-between;

}

.wishlist-title,
.suggest-title {
    grid-area: title;
    vertical-align: middle;
    align-self: center;
}

.title-line {
    background-color: hsl(210, 100%, 56%);
    width: 18px;
    height: 30px;
    vertical-align: middle;
    border-radius: 3px;
    display: inline-block;
}

.wishlist-title h2,
.suggest-title h2 {
    display: inline-block;
    padding-left: 10px;
    vertical-align: middle;
}

.wishlist-move-all,
.suggest-see {
    font-size: 1vw;
    grid-area: mov;
    text-align: right;
    vertical-align: middle;
    align-self: center;
    height: 100%;
}

.wishlist-move-all button,
.suggest-see button {
    height: 100%;
    padding: 0 40px;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid gray;
    cursor: pointer;
}

.wishlist-move-all button:hover,
.suggest-see button:hover {
    color: #fff;
    background-color: hsl(210, 100%, 56%);
}

.wishlist-item,
.suggest-item {
    margin-bottom: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;

}

.wishlist-item-action,
.suggest-item-action {
    width: 100%;
    height: 240px;
    position: relative;
    border-radius: 10px;
}

.item-discound,
.item-delet-btn,
.item-add-btn {
    position: absolute;
    z-index: 999;
}

.item-discound {
    top: 7px;
    left: 8px;
    background-color: red;
    border-radius: 5px;
    padding: 5px 10px;
    text-align: center;
    color: #fff;
    font-size: 0.7em;
    font-family: none;
    border: none;
}

.item-delet-btn {
    right: 8px;
    top: 5px;

}
.item-delet-btn button{
    padding: 5px;
    background-color: transparent;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
}
.item-delet-btn button::before{
    content: "";
    position: absolute;
    border-radius: 50%;
    width: 0%;
    height: 0%;
    background-color: hsl(0, 0%, 50% ,.5);
    top: 1px;
    right: 1px;
}
.item-delet-btn button:hover:before{
    width: 100%;
    height: 100%;
}


.item-add-btn {
    bottom: 1px;
    width: 100%;
    height: 30px;
}

.item-add-btn button {
    bottom: 1px;
    width: 100%;
    height: 30px;
    border: none;
    background-color: black;
    color: #fff;
    cursor: pointer;
    font-weight: normal;
    border-radius: 0 0 5px 5px ;
}
.item-add-btn button i{
    margin-right: 10px;
    background-color: black;
    color: #fff;
}
.item-add-btn button:hover , .item-add-btn button:hover i {
    background-color: hsl(0, 0%, 20%);
    color: hsl(210, 100%, 56%);
}

.item-img {
   
    width: 100%;
    height: 100%;
    position: relative;
    padding-bottom: 30px;
}

.item-img img {
    border-radius: 5px 5px 0 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: hsl(0, 0%, 80%);
}

.item-title{
    padding: 5px 3px;
    font-size: 1em;
}
.item-price-current{
    padding-left: 3px;
    color:hsl(210, 100%, 56%)
}
.item-price-old{
    padding-left: 3px;
    color:gray;
    text-decoration: line-through;
    margin-left: 5px;
}