.wishlist-container {
    max-width: 90vw;
    margin: auto;
    padding: 50px 0;
}

.wishlist-section,
.suggest-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
    margin-bottom: 50px;
}

.wishlist-items,
.suggest-items {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    /* edit in media */
    gap: 20px;

}
.container-top{
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.wishlist-title,
.suggest-title {
    vertical-align: middle;
    align-self: center;
}

.title-line {
    background-color: hsl(210, 100%, 56%);
    width: 11px;
    height: 30px;
    vertical-align: middle;
    border-radius: 3px;
    display: inline-block;
}

.wishlist-title h2,
.suggest-title h2 {
    display: inline-block;
    font-size: 3vw ;
    padding-left: 10px;
    vertical-align: middle;
}

.wishlist-move-all,
.suggest-see {
  
    height: 30px;
}

.wishlist-move-all button,
.suggest-see button {
    height: 100%;
    padding: 0 2vw;
    font-size: 1.5vw;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid gray;
    cursor: pointer;
}

.wishlist-move-all button:hover,
.suggest-see button:hover {
    color: #fff;
    background-color: hsl(210, 100%, 56%);
}

.wishlist-item,
.suggest-item {
    margin-bottom: 20px;
    min-width: 210px;
    display: flex;
    flex-direction: column;
    flex: 1;

}

.wishlist-item-action,
.suggest-item-action {
    width: 100%;
    height: 240px;
    background-color: hsl(0, 0%, 80%);
    position: relative;
    border-radius: 10px;
}

.item-discound,
.item-delet-btn,
.item-show-btn,
.item-add-btn {
    position: absolute;
    z-index: 999;
}

.item-discound {
    top: 7px;
    left: 8px;
    background-color: red;
    border-radius: 5px;
    padding: 5px 10px;
    text-align: center;
    color: #fff;
    font-size: 1.1vw;
    font-family: none;
    border: none;
}

.item-delet-btn ,.item-show-btn{
    right: 8px;
    top: 5px;

}
.item-delet-btn button ,.item-show-btn button{
    padding: 5px;
    background-color: transparent;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
}

.item-delet-btn button:hover ,.item-show-btn button:hover {
    color: hsl(210, 100%, 56%);
}


.item-add-btn {
    bottom: 1px;
    width: 100%;
    height: 30px;
}

.item-add-btn button {
    bottom: 1px;
    width: 100%;
    height: 30px;
    border: none;
    background-color: black;
    color: #fff;
    cursor: pointer;
    font-weight: normal;
    border-radius: 0 0 5px 5px ;
}
.item-add-btn button i{
    margin-right: 10px;
    background-color: black;
    color: #fff;
}
.item-add-btn button:hover , .item-add-btn button:hover i {
    background-color: hsl(0, 0%, 20%);
    color: hsl(210, 100%, 56%);
}

.item-img {
   
    width: 100%;
    height: 100%;
    position: relative;
    padding-bottom: 30px;
}

.item-img img {
    border-radius: 5px 5px 0 0;
    width: 100%;
    height: 100%;
    object-fit: fill;
    background-color: hsl(0, 0%, 80%);
}

.item-title{
    padding: 5px 3px;
    font-size: 1em;
}
.item-price-current{
    padding-left: 3px;
    color:hsl(210, 100%, 56%)
}
.item-price-old{
    padding-left: 3px;
    color:gray;
    text-decoration: line-through;
    margin-left: 5px;
}